html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #202020;
  background-color: #fafafa;
}

.welcomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35vh;
  width: 100vw;
  text-align: center;
  background-color: white;
  font-family: Poppins;
  color: white;
}

.orgName1 {
  font-size: 150px;
  background-color: #42a0d8;
  padding: 1vh;
  letter-spacing: 50px;
  transition: 200ms ease-in;
}

.orgName2 {
  font-size: 90px;
  background-color: #add7f0;
  color: #42a0d8;
  padding: 2vh;
  letter-spacing: 30px;
  transition: 500ms ease-in;
}

.loader {
  background-color: white;
  height: 65vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  height: 95%;
}

.header {
  border-bottom: solid 1px #ca2100;
  background-color: darkblue;
  color: #fafafa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  height: 44px;
  width: 100%;
}

.header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  max-width: 1400px;
  margin: auto;
}

.jobInfoInputTaker {
  display: flex;
  flex-direction: column;
}

.sidebar {
  user-select: none;
  width: 266px;
  height: 100vh;
  padding-top: 74px;
  border-right: 1px solid #f1f1f1;
  background-color: #fafafa;
}

.sidebar div {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
}

.sidebar div .icon {
  margin-right: 10px;
}

.sidebar div.active {
  background-color: darkblue;
  color: #fafafa;
}

.posts {
  background-color: white;
  height: 100vh;
  width: calc(922px - 266px);
  padding: 74px 20px 0;
}
